.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8%;
  row-gap: 20px;
  padding: 10px;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .body {
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .body {
    background-color: olive;
    grid-template-columns: 1fr 1fr;
  }
}

/* On screens that are 450px or less */
@media screen and (max-width: 450px) {
  .body {
    background-color: red;
    grid-template-columns: 1fr;
  }
}