.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: var(--color-green);
  border: none;
  color: #fff;
  padding: 10px;
  min-width: 60px;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 10px;
  outline: 0;
  margin: 5px;
}

.button:hover {
  background: #fff;
  box-shadow: 4px 5px 6px 0px var(--color-green);
  color: #000;
}

.button:after {
  content: "";
  background: var(--color-green);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px ;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
